*{
    margin: 0;
}

body{
    background-color: #303030;
}

header {
    width: 100vw;
    background-color: red;
    nav {
        width: 100%;
        .log {
            .input-group {
                width: 50%;
                margin-top: 5px;
            }
            .form-control {
                background-color: #303030;
                color: blueviolet;
            }
            .btn { 
                border-radius:0px 10px 10px 0px;
            }
            background-color: #303030;
            width: 100%;
            li {
                margin-left: 5px;
                background: linear-gradient(to bottom, rgba(30, 30, 30,1),rgba(30, 30, 30,0.5), rgba(65, 65, 65,1));
            }
            @media screen and (max-width: 494px){
                a {
                    font-size: 0.8rem;
                }
            }
        }
        .pages {
            border-top:1px solid #000000;
            width: 100%;
            height: 100px;
            background-color: #414141;
            box-shadow: 0px -5px 6px blueviolet;
            li {
                list-style: none;
                margin-right: 60px;
                a {
                    color: black;
                    text-decoration: none;
                    &:hover {
                        color: blueviolet;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 435px){
    .list-group-item:last-child{
        padding-bottom: 36px;
    }
}
h3 {
    width: 25%;
    padding-left: 5px;
    padding-bottom: 5px;
    color: blueviolet;
    border-bottom : 1px solid white;
    border-left : 1px solid white;
    font-size: 1.2em;
}
@media screen and (max-width: 697px){
    h3 {
        width: 30vw;
        
    }
}
h4 {
    padding-left: 5px;
    color: blueviolet;
    font-size: 2em;
}

.grid-main {
    display: grid;
    grid-template-columns: 1fr repeat(2, 3fr) 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    @media screen and (max-width: 1015px){
        display: flex;
        flex-direction: column;
        .container-entete {
            height: 40vh;
        }
    }
    .container-entete {
        height: 400px;
        grid-area: 1 / 2 / 4 / 4;
        border-radius: 10px;
        .over {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0,0.8), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
            position: relative;
            z-index: 9998;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            object-position: 0 20%; /* Centrer l'image sur le haut */
            top: -100%; 
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .container-best {
        grid-area: 4 / 2 / 6 / 4;
        div {
            display: flex;
            justify-content: space-between;
        }
    }

    .container-last-released{
        grid-area: 6 / 2 / 8 / 4;
        div {
            display: flex;
            justify-content: space-between;
        }
    }
}